<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un exemplaire</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Ajouter un exemplaire</h1>
<form action="/ajouterExemplaire" method="post">
  <input type="hidden" name="oeuvreId" th:value="${oeuvreId}">

  <label for="etat">État:</label>
  <select id="etat" name="etat">
    <option value="très bon état">Très bon état</option>
    <option value="bon état">Bon état</option>
    <option value="abimé">Abimé</option>
  </select><br>

  <label for="disponibilite">Disponibilité:</label>
  <select id="disponibilite" name="disponibilite">
    <option value="disponible">Disponible</option>
    <option value="indisponible">Indisponible</option>
  </select><br>

  <button type="submit">Ajouter</button>
</form>
<button onclick="window.location.href='/liste-oeuvres'">Annuler</button>
</body>
</html>
