<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer une réservation - Choisir un usager</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Créer une nouvelle réservation</h1>

<h2>Sélectionner un usager</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usager : ${usagers}">
        <td th:text="${usager.id}"></td>
        <td th:text="${usager.nom}"></td>
        <td th:text="${usager.prenom}"></td>
        <td>
            <form th:action="@{/creerReservationChoisirUsager}" method="post">
                <input type="hidden" name="usagerId" th:value="${usager.id}">
                <button type="submit">Choisir</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="window.location.href='/index-front-office'">Retour menu</button>
</body>
</html>
