<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choisir l'oeuvre à emprunter</title>
  <link rel="stylesheet" href="mystyle.css">

</head>
<body>
<h1>Sélectionner une oeuvre à emprunter</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Titre</th>
    <th>Date de parution</th>
    <th>Disponible</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="oeuvre : ${oeuvres}">
    <td th:text="${oeuvre.id}"></td>
    <td th:text="${oeuvre.titre}"></td>
    <td th:text="${oeuvre.dateParution}"></td>
    <td th:text="${disponibilites[oeuvre.id] ? 'Oui' : 'Non'}"></td>
    <td>
      <form th:action="@{/creerEmpruntChoisirOeuvre}" method="post">
        <input type="hidden" name="oeuvreId" th:value="${oeuvre.id}">
        <input type="hidden" name="usagerId" th:value="${selectedUsagerId}">
        <button type="submit" th:if="${disponibilites[oeuvre.id]}">Choisir cette oeuvre</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<button onclick="window.location.href='/index-front-office'">Retour au menu</button>
</body>
</html>
