<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer un usager</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Enregistrer un usager</h1>
<form action="/creer-usager" method="post">
    Nom: <input type="text" name="nom" required><br>
    Prénom: <input type="text" name="prenom" required><br>
    <input type="submit" value="Créer Usager">
</form>
<button onclick="window.location.href='/index-back-office'">Retour menu</button>
</body>
</html>