<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Créer un livre</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>

<h1>Créer un livre</h1>

<form action="/creer-livre" method="post">
  <label for="titre">Titre</label>
  <input type="text" id="titre" name="titre" required>

  <label for="auteur">Auteur</label>
  <input type="text" id="auteur" name="auteur" required>

  <label for="edition">Édition</label>
  <input type="text" id="edition" name="edition" required>

  <label for="dateParution">Date de Parution</label>
  <input type="date" id="dateParution" name="dateParution" required>

  <button type="submit">Créer le Livre</button>
</form>

<button onclick="window.location.href='/index-back-office'">Retour menu</button>

</body>
</html>
