<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu de la Bibliothèque</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Menu back office</h1>
<div class="button-container">
    <button onclick="window.location.href='/creer-usager'">Créer un usager</button>
    <button onclick="window.location.href='/creer-livre'">Créer un livre</button>
    <button onclick="window.location.href='/creer-magazine'">Créer un magazine</button>
    <button onclick="window.location.href='/liste-usagers'">Afficher les usagers</button>
    <button onclick="window.location.href='/liste-oeuvres'">Afficher les oeuvres</button>
    <button onclick="window.location.href='/'">Retour menu</button>
</div>

</body>
</html>

