<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu de la Bibliothèque</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Menu front office</h1>
<div class="button-container">
    <button onclick="window.location.href='/creerReservationChoisirUsager'">Créer une réservation</button>
    <button onclick="window.location.href='/liste-reservations'">Afficher les réservations</button>
    <button onclick="window.location.href='/creerEmpruntChoisirUsager'">Créer un emprunt</button>
    <button onclick="window.location.href='/liste-emprunts'">Afficher les emprunts</button>
    <button onclick="window.location.href='/'">Retour menu</button>
</div>

</body>
</html>

