<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste des Reservations</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Liste des réservations enregistrées</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Oeuvre</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Fait le</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation : ${reservations}">
    <td th:text="${reservation.id}"></td>
    <td th:text="${reservation.oeuvre.titre}"></td>
    <td th:text="${reservation.usager.nom}"></td>
    <td th:text="${reservation.usager.prenom}"></td>
    <td th:text="${reservation.date}"></td>
    <td>
      <form th:action="@{/annulerReservation}" method="post">
        <input type="hidden" name="reservationId" th:value="${reservation.id}">
        <button type="submit">Annuler</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<button onclick="window.location.href='/index-front-office'">Retour menu</button>
</body>
</html>
