<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste des oeuvres</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Liste des Oeuvres</h1>

<div class="container">
  <div class="table-container">
    <h2>Magazines</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Revue</th>
        <th>Titre</th>
        <th>Numéro</th>
        <th>Date de Parution</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="magazine : ${magazines}">
        <td th:text="${magazine.id}"></td>
        <td th:text="${magazine.revue}"></td>
        <td th:text="${magazine.titre}"></td>
        <td th:text="${magazine.numero}"></td>
        <td th:text="${magazine.dateParution}"></td>
        <td>
          <form action="/ajouterExemplaire" method="get">
            <input type="hidden" name="oeuvreId" th:value="${magazine.id}">
            <button type="submit">Ajouter un Exemplaire</button>
          </form>
        </td>
        <td>
          <a th:href="@{/afficherExemplaires(oeuvreId=${magazine.id})}">
            <button type="button">Afficher les Exemplaires</button>
          </a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <!-- Livres Table -->
  <div class="table-container">
    <h2>Livres</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Édition</th>
        <th>Date de Parution</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="livre : ${livres}">
        <td th:text="${livre.id}"></td>
        <td th:text="${livre.titre}"></td>
        <td th:text="${livre.auteur}"></td>
        <td th:text="${livre.edition}"></td>
        <td th:text="${livre.dateParution}"></td>
        <td>
          <form action="/ajouterExemplaire" method="get">
            <input type="hidden" name="oeuvreId" th:value="${livre.id}">
            <button type="submit">Ajouter un Exemplaire</button>
          </form>
        </td>
        <td>
          <a th:href="@{/afficherExemplaires(oeuvreId=${livre.id})}">
            <button type="button">Afficher les Exemplaires</button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<button onclick="window.location.href='/index-back-office'">Retour au menu</button>
</body>
</html>
