<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste des Emprunts</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Liste des emprunts enregistrés</h1>
<h4>Attention : si un exemplaire rendu est abimé, il sera retiré du stock</h4>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Oeuvre</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Emprunté le</th>
    <th>A rendre avant le</th>
    <th>état</th>
    <th>Rendre</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="emprunt : ${emprunts}">
    <td th:text="${emprunt.id}"></td>
    <td th:text="${emprunt.exemplaire.oeuvre.titre}"></td>
    <td th:text="${emprunt.usager.nom}"></td>
    <td th:text="${emprunt.usager.prenom}"></td>
    <td th:text="${emprunt.jourDebut}"></td>
    <td th:text="${emprunt.jourFin}"></td>
    <td th:text="${emprunt.exemplaire.etat}"></td>
    <td>
      <form th:action="@{/rendreExemplaire}" method="post">
        <input type="hidden" name="empruntId" th:value="${emprunt.id}">

        <label for="etat">État:</label>
        <select id = "etat" name="etat">
          <option value="très bon état" th:selected="${emprunt.exemplaire.etat == 'très bon état'}">Très bon état</option>
          <option value="bon état" th:selected="${emprunt.exemplaire.etat == 'bon état'}">Bon état</option>
          <option value="abimé" th:selected="${emprunt.exemplaire.etat == 'abimé'}">Abimé</option>
        </select>
        <button type="submit">Rendre l'exemplaire</button>
      </form>
    </td>



  </tr>
  </tbody>
</table>
<button onclick="window.location.href='/liste-emprunts-archives'">Voir les emprunts archivés</button>
<button onclick="window.location.href='/index-front-office'">Retour menu</button>
</body>
</html>
