<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste des Exemplaires</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Liste des exemplaire enregistrés</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>état</th>
    <th>Disponibilité</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="exemplaire : ${exemplaires}">
    <td th:text="${exemplaire.id}"></td>
    <td th:text="${exemplaire.etat}"></td>
    <td th:text="${exemplaire.disponibilite}"></td>
    <td>
      <form th:action="@{/supprimerExemplaire}" method="post">
        <input type="hidden" name="exemplaireId" th:value="${exemplaire.id}">
        <input type="hidden" name="oeuvreId" th:value="${exemplaire.oeuvre.id}">
        <button type="submit">Supprimer</button>
      </form>
    </td>
    <td>
      <a th:href="@{/modifierExemplaire(exemplaireId=${exemplaire.id})}">
        <button type="button">Modifier</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<button onclick="window.location.href='/liste-oeuvres'">Retour liste des oeuvres</button>
<button onclick="window.location.href='/index-back-office'">Retour menu back office</button>
</body>
</html>
