<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste des Usagers</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Liste des usagers inscrits</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="usager : ${usagers}">
    <td th:text="${usager.id}"></td>
    <td th:text="${usager.nom}"></td>
    <td th:text="${usager.prenom}"></td>
    <td>
      <form th:action="@{/supprimerUsager}" method="post">
        <input type="hidden" name="usagerId" th:value="${usager.id}">
        <button type="submit">Supprimer</button>
      </form>
    </td>
    <td>
      <a th:href="@{/modifierUsager(usagerId=${usager.id})}">
        <button type="button">Modifier</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<button onclick="window.location.href='/index-back-office'">Retour menu</button>
</body>
</html>
