<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier Usager</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>Modifier usager</h1>
<form action="/modifierUsager" method="post">
    <input type="hidden" name="usagerId" th:value="${usager.id}">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" th:value="${usager.nom}"><br>

    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" name="prenom" th:value="${usager.prenom}"><br>

    <button type="submit">Enregistrer</button>
</form>
<button onclick="window.location.href='/liste-usagers'">Annuler</button>
</body>
</html>
